Choose strike rate and average as the two factors on which you will cluster the data. You don’t need to clean the data. Just scale the data using the scale command and create the clusters.

In [1]:
import pandas as pd

In [3]:
cricket= pd.read_csv('./cricket.csv', encoding = "ISO-8859-1")

In [4]:
cricket.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28

In [6]:
cricket.Player.nunique()

79

In [8]:
len(cricket)

79

In [12]:
cricket_df= cricket[['Player','Ave', 'SR']]

In [13]:
cricket_df

                         Player    Ave     SR
0          SR Tendulkar (INDIA)  44.83  86.23
1   KC Sangakkara (Asia/ICC/SL)  41.98  78.86
2          RT Ponting (AUS/ICC)  42.03  80.39
3       ST Jayasuriya (Asia/SL)  32.36  91.20
4    DPMD Jayawardene (Asia/SL)  33.37  78.96
..                          ...    ...    ...
74            CG Greenidge (WI)  45.03  64.92
75          Misbah-ul-Haq (PAK)  43.40  73.75
76         PD Collingwood (ENG)  35.36  76.98
77              A Symonds (AUS)  39.75  92.44
78      Abdul Razzaq (Asia/PAK)  29.70  81.25

[79 rows x 3 columns]

Pointers before you proceed:

standardise all parameters using standard_scaler.fit_transform() and save the output to a variable before you proceed. (check the K-Means code)
Choose random_state=100 for running K-Means in Python with SKLearn.

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
scaler = StandardScaler()

In [19]:
intermediate = cricket_df[['Ave', 'SR']]

In [20]:
intermediate2= scaler.fit_transform(intermediate)

In [22]:
intermediate2 = pd.DataFrame(intermediate2, columns=['Ave', 'SR'])

In [23]:
intermediate2

         Ave        SR
0   1.072294  0.703152
1   0.587725 -0.044139
2   0.596226  0.110997
3  -1.047909  1.207091
4  -0.876185 -0.034000
..       ...       ...
74  1.106299 -1.457604
75  0.829159 -0.562275
76 -0.537836 -0.234765
77  0.208570  1.332823
78 -1.500174  0.198198

[79 rows x 2 columns]

In [24]:
intermediate2['Player']=cricket_df['Player']

In [25]:
intermediate2

         Ave        SR                       Player
0   1.072294  0.703152         SR Tendulkar (INDIA)
1   0.587725 -0.044139  KC Sangakkara (Asia/ICC/SL)
2   0.596226  0.110997         RT Ponting (AUS/ICC)
3  -1.047909  1.207091      ST Jayasuriya (Asia/SL)
4  -0.876185 -0.034000   DPMD Jayawardene (Asia/SL)
..       ...       ...                          ...
74  1.106299 -1.457604            CG Greenidge (WI)
75  0.829159 -0.562275          Misbah-ul-Haq (PAK)
76 -0.537836 -0.234765         PD Collingwood (ENG)
77  0.208570  1.332823              A Symonds (AUS)
78 -1.500174  0.198198      Abdul Razzaq (Asia/PAK)

[79 rows x 3 columns]

In [26]:
from sklearn.cluster import KMeans

In [29]:
intermediate2= intermediate2[['Ave', 'SR']]

In [30]:
kmeans = KMeans(n_clusters=4, random_state=100).fit(intermediate2)

In [32]:
len(kmeans.labels_)

79

In [33]:
intermediate2['cluster'] = kmeans.labels_

In [36]:
intermediate2['Player']= cricket_df['Player']

In [37]:
intermediate2

         Ave        SR  cluster                       Player
0   1.072294  0.703152        2         SR Tendulkar (INDIA)
1   0.587725 -0.044139        0  KC Sangakkara (Asia/ICC/SL)
2   0.596226  0.110997        0         RT Ponting (AUS/ICC)
3  -1.047909  1.207091        1      ST Jayasuriya (Asia/SL)
4  -0.876185 -0.034000        3   DPMD Jayawardene (Asia/SL)
..       ...       ...      ...                          ...
74  1.106299 -1.457604        0            CG Greenidge (WI)
75  0.829159 -0.562275        0          Misbah-ul-Haq (PAK)
76 -0.537836 -0.234765        3         PD Collingwood (ENG)
77  0.208570  1.332823        1              A Symonds (AUS)
78 -1.500174  0.198198        3      Abdul Razzaq (Asia/PAK)

[79 rows x 4 columns]

In [39]:
intermediate2[intermediate2.Player=='V Kohli (INDIA)']

         Ave        SR  cluster           Player
25  2.621216  1.185798        2  V Kohli (INDIA)

In [41]:
intermediate2[intermediate2.cluster==2]

         Ave        SR  cluster                   Player
0   1.072294  0.703152        2     SR Tendulkar (INDIA)
13  2.175752  0.952587        2    MS Dhoni (Asia/INDIA)
15  2.554906  2.124728        2  AB de Villiers (Afr/SA)
25  2.621216  1.185798        2          V Kohli (INDIA)
34  1.993826  0.989089        2             HM Amla (SA)
38  2.560007 -0.520702        2           MG Bevan (AUS)
42  1.441247  1.105695        2        IVA Richards (WI)
63  0.812157  0.855246        2          MJ Guptill (NZ)
64  1.636775  0.797450        2         MEK Hussey (AUS)

In [42]:
intermediate2.groupby('cluster')['SR'].mean()

cluster
0   -0.359294
1    1.508830
2    0.910338
3   -0.535421
Name: SR, dtype: float64

In [43]:
intermediate2.groupby('cluster')['Ave'].mean()

cluster
0    0.503468
1   -0.529477
2    1.874242
3   -0.777680
Name: Ave, dtype: float64

In [45]:
intermediate2[intermediate2.cluster==2]

         Ave        SR  cluster                   Player
0   1.072294  0.703152        2     SR Tendulkar (INDIA)
13  2.175752  0.952587        2    MS Dhoni (Asia/INDIA)
15  2.554906  2.124728        2  AB de Villiers (Afr/SA)
25  2.621216  1.185798        2          V Kohli (INDIA)
34  1.993826  0.989089        2             HM Amla (SA)
38  2.560007 -0.520702        2           MG Bevan (AUS)
42  1.441247  1.105695        2        IVA Richards (WI)
63  0.812157  0.855246        2          MJ Guptill (NZ)
64  1.636775  0.797450        2         MEK Hussey (AUS)

In [54]:
n=int(input())#number of prime numbers to print
counter=2;
while(counter<n):
    print(counter)
    counter=counter+1
    
print(counter)

5
2
3
4
5

In [50]:
5!=5

False

In [51]:
5<5

False

In [53]:
if(0)

SyntaxError: invalid syntax (<ipython-input-53-a42b44f5808d>, line 1)